.info-table thead th {
  border-top: 0;
}

.info-table,
#simulation-table {
  font-family: Consolas, Monaco, monospace;
  text-align: right;
}

.info-table td {
  padding-right: 17px;
}

th.column-header {
  padding-right: 17px;
}

.description-column {
  text-align: left;
}

td.description-column {
  padding-right: 0;
}

.tool-input-label {
  margin-right: 1rem;
  width: 140px;
  margin-top: 6px;
}

input.tool-input {
  width: 100px;
}

.tool-output {
  padding-left: 10px;
  margin-top: 6px;
  font-weight: bold;
}

.tool-row {
  font-family: Consolas, Monaco, monospace;
  margin-bottom: 1rem;
}

.tool-card h6.card-title {
  margin-bottom: 1.8rem;
}

.theme-dark-variant {
  background-color: #212529 !important;
  color: #f8f9fa !important;
  border-color: #1a1d20 !important;
}

.theme-dark {
  background-color: #343a40 !important;
  color: #f8f9fa !important;
  border-color: #292e33 !important;
}

.theme-dark-pagination button,
.theme-dark-pagination span.page-link {
  background-color: #343a40 !important;
  color: #f8f9fa !important;
  border-color: #292e33 !important;
}

.theme-dark-pagination.active button {
  background-color: #007bff !important;
  color: #f8f9fa !important;
  border-color: #007bff !important;
}
